* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0dea;
  transition: all ease 250ms;
}
.register-page{
  align-items: flex-start; 
}
.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.form-box {
  background: rgba(85, 82, 82, 0.359);
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
}
.form-box h2 {
  margin-bottom: 30px;
  color: #fdfcfc;
}
.user-input{
  margin-bottom: 20px;
  text-align: left;
}
.user-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fefdfd;
}
.user-input input {
  width: 100%;
  padding: 12px;
  border: 0.1px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
.radio-button{
  display:flex;
  gap: 15px; 
  color:white;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1e1d1d;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #0d8ddb;
}
.sign-up-message,
.sign-in-message {
  margin-top: 15px;
  font-size: 14px;
  color: #f9f9f9;
}
#sign-up,
#sign-in{
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.2rem;
  color: #fef9f9a0;
  font-weight: 400;
}
#sign-up:hover,
#sign-in:hover {
  transform: scale(1.1);  
  transition: 0.2s ease;
}


/* Only expand to two columns for register page */
@media screen and (min-width: 700px){

  body.register-page .form-container {
    max-width: 800px;  
    width: 90%;
  }
   body.register-page form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  form button,
  .sign-in-message {
    grid-column: span 2;
  }

}